# 编译后的类文件
*.class

# 日志文件
*.log

# BlueJ 文件
*.ctxt

# 移动工具 for Java (J2ME)
.mtj.tmp/

# 包文件
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 虚拟机崩溃日志
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle
build/

# Eclipse
.project
.classpath
.c9/
.settings/
.springBeans

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
/common/target/
