<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WebAdmin.mapper.ApartmentFacilityMapper">

    <select id="getFacilityByApartmentId" resultType="model.entity.FacilityInfo">
        select fi.id,fi.type,fi.name,fi.icon
        from facility_info fi
                 right join (select apartment_id,facility_id
                             from apartment_facility
                             where is_deleted = 0 and apartment_id = 10) as af
                            on af.facility_id = fi.id
        where fi.is_deleted = 0;
    </select>
</mapper>
