<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WebAdmin.mapper.FeeKeyMapper">

    <resultMap id="selectAll" type="WebAdmin.vo.fee.FeeKeyVo">
        <result column="key_id" property="id"/>
        <result column="key_name" property="name"/>
        <collection property="feeValueList" ofType="model.entity.FeeValue">
            <result column="value_id" property="id"/>
            <result column="value_name" property="name"/>
            <result column="value_unit" property="unit"/>
            <result column="feeKeyId" property="feeKeyId"/>
        </collection>
    </resultMap>

    <select id="getAll" resultMap="selectAll">
        select fk.id as key_id,
               fk.name as key_name,
               fv.id as value_id,
               fv.name as value_name,
               fv.unit as value_unit,
               fv.fee_key_id as feeKeyId
        from fee_key fk
                 left join stgy.fee_value fv on fk.id = fv.fee_key_id and fv.is_deleted = 0
        where fk.is_deleted = 0
    </select>
</mapper>
