<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WebAdmin.mapper.RoomFacilityMapper">

    <select id="getFacilityListById" resultType="model.entity.FacilityInfo">
        select rf.id as id,
               fi.type as type,
               fi.name as name,
               fi.icon as icon
        from room_facility rf
                 left join facility_info fi on rf.facility_id = fi.id and fi.is_deleted = 0
        where rf.is_deleted = 0 and room_id = #{id};
    </select>
</mapper>
